* {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border: 3px solid gray;
  align-items: center;
}

.div1 {
  display: flex;
  gap: 10px;
}

.div1 > input {
  height: 18px;
}

.div-3 {
  display: flex;
  gap: 20px;
}

img {
  width: 50px;
}

.div-3 > span {
  cursor: pointer;
}
